mat-grid-list {
  height: 93vh;
}

mat-grid-tile {
  padding: 16px;
}

.table-container {
  height: calc(100vh - 150px); // Adjust based on your header and buttons
  padding: 16px;
  width: 80%;
  box-sizing: border-box;
}

table.mat-elevation-z8 {
  width: 100%;
}