$highlighted-text-color: white;
$valid-day-background-color: aliceblue;
$weekend-text-color: grey;
$weekend-background-color: #edeaea;
$invalid-days-background-color: #FAFAFA;
$past-date-text-color: lightgrey;
$today-background-color: red;
$holiday-background-color: salmon;

// -----------Experimenting with colors-----------
// $highlighted-text-color: white;
// $valid-day-background-color: aliceblue;
// $weekend-text-color: grey;
// $weekend-background-color: #edeaea;
// $invalid-days-background-color: primary;
// $past-date-text-color: lightgrey;
// $today-background-color: red;
// $holiday-background-color: salmon;


.validday {
  background-color: $valid-day-background-color;
  transition-duration: 200ms;
}
.validday:hover {
  cursor: pointer;
  border-radius: 25px;
}
.mat-elevation-z8 {
  overflow-x: auto;
}

.mat-column-sun1,
.mat-column-sat1,
.mat-column-sun2,
.mat-column-sat2,
.mat-column-sun3,
.mat-column-sat3,
.mat-column-sun4,
.mat-column-sat4,
.mat-column-sun5,
.mat-column-sat5,
.mat-column-sun6 {
  background-color: $weekend-background-color;
  color: $weekend-text-color;
}

td {
  text-align: center;
}
tr {
  height: 47px !important;
}
.mat-mdc-chip-listbox {
  padding: 0em 2em;
}
.mat-mdc-chip-selected {
  font-size: 20px;
  height: 50px;
  border-radius: 25px;
}
table {
  padding-left: 1rem;
  padding-right: 1rem;
}
.button-margin {
  margin-left: 30px;
}
.pastdate {
  color: $past-date-text-color;
}
.holiday {
  background-color: $holiday-background-color !important;
  color: $highlighted-text-color;
}
.mat-mdc-table {
  height: 47px;
}
.example-header-image {
  background-size: cover;
}
.today {
  background-color: $today-background-color !important;
  color: $highlighted-text-color;
  border-radius: 30px;
}

.filler {
  background-color: $invalid-days-background-color !important;
}