$highlighted-text-color: white;
$weekend-text-color: var(--secondary-text);
$past-date-text-color: var(--secondary-text);
$valid-day-background-color: var(--bg1);
$weekend-background-color: var(--bg3);
$invalid-days-background-color: var(--bg2);
$today-background-color: var(--attention-intense);;
$holiday-background-color: var(--attention);;

.validday {
  background-color: $valid-day-background-color;
  transition-duration: 200ms;
}
.validday:hover {
  cursor: pointer;
  border-radius: 25px;
}

.mat-elevation-z8 {
  overflow-x: auto;
}

td {
  text-align: center;
}
tr {
  height: 47px !important;
}
.mat-mdc-chip-listbox {
  padding: 0em 2em;
}
.mat-mdc-chip-selected {
  font-size: 20px;
  height: 50px;
  border-radius: 25px;
}

.mat-mdc-chip:not(.mat-mdc-chip-selected) {
  background: var(--bg2);
}

table {
  padding-left: 1rem;
  padding-right: 1rem;
}
.button-margin {
  margin-left: 30px;
}
.pastdate {
  color: $past-date-text-color;
}

.mat-mdc-table {
  height: 47px;
}
.example-header-image {
  background-size: cover;
}

.mat-column-sun1,
.mat-column-sat1,
.mat-column-sun2,
.mat-column-sat2,
.mat-column-sun3,
.mat-column-sat3,
.mat-column-sun4,
.mat-column-sat4,
.mat-column-sun5,
.mat-column-sat5,
.mat-column-sun6 {
  background-color: $weekend-background-color;
  color: $weekend-text-color;
}

.filler {
  background-color: $invalid-days-background-color !important;
}

mat-grid-list {
  height: 93vh;
}

.table-container {
  height: calc(100vh - 220px);
}

.holiday {
  background-color: $holiday-background-color !important;
  color: $highlighted-text-color;
}

.today {
  background-color: $today-background-color !important;
  color: $highlighted-text-color !important;
}
