<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport>
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>

      <!-- All Icons -->
      <!-- https://fonts.google.com/icons?icon.set=Material+Icons -->

      <mat-list-item routerLink="/" (click)="drawer.toggle()">
        <mat-icon matListItemIcon>calendar_today</mat-icon>
        <div matListItemTitle>Year Calendar</div>
      </mat-list-item>

      <mat-list-item routerLink="/teams" (click)="drawer.toggle()">
        <mat-icon matListItemIcon>people_outline</mat-icon>
        <div matListItemTitle>Teams</div>
      </mat-list-item>

      <mat-list-item routerLink="/members" (click)="drawer.toggle()">
        <mat-icon matListItemIcon>person_outline</mat-icon>
        <div matListItemTitle>Members</div>
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>
        Team Vacation Planner
      </span>

      <span class="spacer"></span>

      <button type="button" mat-icon-button (click)="toggleTheme(!isDarkMode)">
        <mat-icon *ngIf="isDarkMode">light_mode</mat-icon>
        <mat-icon *ngIf="!isDarkMode">dark_mode</mat-icon>
      </button>

    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>