.sidenav-container {
  height: 100%;
}

.mat-drawer-content {
  overflow: visible;
}

.sidenav {
  width: 300px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

body {
  margin: 0px;
}

mat-toolbar {
  display: flex;
  align-items: center;
}