.full-width-table 
  width: 100%

.validday
  background-color: aliceblue

.validday:hover 
    background-color: lightblue    

.mat-column-sun1, .mat-column-sat1,
.mat-column-sun2, .mat-column-sat2,
.mat-column-sun3, .mat-column-sat3,
.mat-column-sun4, .mat-column-sat4,
.mat-column-sun5, .mat-column-sat5,
.mat-column-sun6
  background-color: #edeaea
  color: grey

td
  text-align: center

.holiday
  background-color: lightsalmon !important