<mat-grid-list cols="1" rowHeight="10rem">
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image1"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Shiba Inu</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image2"></div>
        <mat-card-title>Hints Cat</mat-card-title>
        <mat-card-subtitle>Random cat</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image3"></div>
        <mat-card-title>Calm Cat</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image4"></div>
        <mat-card-title>Multi Cat</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image5"></div>
        <mat-card-title>Method Cat</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <button mat-fab color="basic" class="button-margin">
      <mat-icon>add</mat-icon>
    </button>
  </mat-grid-tile>
</mat-grid-list>

<section class="mat-elevation-z8" tabindex="0">

  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="month" sticky>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">{{row.month}}</td>
    </ng-container>

    <ng-container matColumnDef="sun1">
      <th mat-header-cell *matHeaderCellDef>S</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{'validday': !!row.sun1}">{{row.sun1}}</td>
    </ng-container>

    <ng-container matColumnDef="mon1">
      <th mat-header-cell *matHeaderCellDef>M</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{'validday' : !!row.mon1}">{{row.mon1}}</td>
    </ng-container>

    <ng-container matColumnDef="tue1">
      <th mat-header-cell *matHeaderCellDef>T</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{'validday' : !!row.tue1}">{{row.tue1}}</td>
    </ng-container>

    <ng-container matColumnDef="wed1">
      <th mat-header-cell *matHeaderCellDef>W</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{'validday' : !!row.wed1}">{{row.wed1}}</td>
    </ng-container>

    <ng-container matColumnDef="thu1">
      <th mat-header-cell *matHeaderCellDef>T</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{'validday' : !!row.thu1}">{{row.thu1}}</td>
    </ng-container>

    <ng-container matColumnDef="fri1">
      <th mat-header-cell *matHeaderCellDef>F</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{'validday' : !!row.fri1}">{{row.fri1}}</td>
    </ng-container>

    <ng-container matColumnDef="sat1">
      <th mat-header-cell *matHeaderCellDef>S</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{'validday' : !!row.sat1}">{{row.sat1}}</td>
    </ng-container>

    <ng-container matColumnDef="sun2">
      <th mat-header-cell *matHeaderCellDef>S</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{'validday' : !!row.sun2}">{{row.sun2}}</td>
    </ng-container>

    <ng-container matColumnDef="mon2">
      <th mat-header-cell *matHeaderCellDef>M</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{'validday' : !!row.mon2}">{{row.mon2}}</td>
    </ng-container>

    <ng-container matColumnDef="tue2">
      <th mat-header-cell *matHeaderCellDef>T</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{'validday' : !!row.tue2}">{{row.tue2}}</td>
    </ng-container>

    <ng-container matColumnDef="wed2">
      <th mat-header-cell *matHeaderCellDef>W</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{'validday' : !!row.wed2}">{{row.wed2}}</td>
    </ng-container>

    <ng-container matColumnDef="thu2">
      <th mat-header-cell *matHeaderCellDef>T</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{'validday' : !!row.thu2}">{{row.thu2}}</td>
    </ng-container>

    <ng-container matColumnDef="fri2">
      <th mat-header-cell *matHeaderCellDef>F</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{'validday' : !!row.fri2}">{{row.fri2}}</td>
    </ng-container>

    <ng-container matColumnDef="sat2">
      <th mat-header-cell *matHeaderCellDef>S</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{'validday' : !!row.sat2}">{{row.sat2}}</td>
    </ng-container>

    <ng-container matColumnDef="sun3">
      <th mat-header-cell *matHeaderCellDef>S</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{'validday' : !!row.sun3}">{{row.sun3}}</td>
    </ng-container>

    <ng-container matColumnDef="mon3">
      <th mat-header-cell *matHeaderCellDef>M</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{'validday' : !!row.mon3}">{{row.mon3}}</td>
    </ng-container>

    <ng-container matColumnDef="tue3">
      <th mat-header-cell *matHeaderCellDef>T</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{'validday' : !!row.tue3}">{{row.tue3}}</td>
    </ng-container>

    <ng-container matColumnDef="wed3">
      <th mat-header-cell *matHeaderCellDef>W</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{'validday' : !!row.wed3}">{{row.wed3}}</td>
    </ng-container>

    <ng-container matColumnDef="thu3">
      <th mat-header-cell *matHeaderCellDef>T</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{'validday' : !!row.thu3}">{{row.thu3}}</td>
    </ng-container>

    <ng-container matColumnDef="fri3">
      <th mat-header-cell *matHeaderCellDef>F</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{'validday' : !!row.fri3}">{{row.fri3}}</td>
    </ng-container>

    <ng-container matColumnDef="sat3">
      <th mat-header-cell *matHeaderCellDef>S</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{'validday' : !!row.sat3}">{{row.sat3}}</td>
    </ng-container>
    <ng-container matColumnDef="sun4">
      <th mat-header-cell *matHeaderCellDef>S</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{'validday' : !!row.sun4}">{{row.sun4}}</td>
    </ng-container>

    <ng-container matColumnDef="mon4">
      <th mat-header-cell *matHeaderCellDef>M</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{'validday' : !!row.mon4}">{{row.mon4}}</td>
    </ng-container>

    <ng-container matColumnDef="tue4">
      <th mat-header-cell *matHeaderCellDef>T</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{'validday' : !!row.tue4}">{{row.tue4}}</td>
    </ng-container>

    <ng-container matColumnDef="wed4">
      <th mat-header-cell *matHeaderCellDef>W</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{'validday' : !!row.wed4}">{{row.wed4}}</td>
    </ng-container>

    <ng-container matColumnDef="thu4">
      <th mat-header-cell *matHeaderCellDef>T</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{'validday' : !!row.thu4}">{{row.thu4}}</td>
    </ng-container>

    <ng-container matColumnDef="fri4">
      <th mat-header-cell *matHeaderCellDef>F</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{'validday' : !!row.fri4}">{{row.fri4}}</td>
    </ng-container>

    <ng-container matColumnDef="sat4">
      <th mat-header-cell *matHeaderCellDef>S</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{'validday' : !!row.sat4}">{{row.sat4}}</td>
    </ng-container>
    <ng-container matColumnDef="sun5">
      <th mat-header-cell *matHeaderCellDef>S</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{'validday' : !!row.sun5}">{{row.sun5}}</td>
    </ng-container>

    <ng-container matColumnDef="mon5">
      <th mat-header-cell *matHeaderCellDef>M</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{'validday' : !!row.mon5}">{{row.mon5}}</td>
    </ng-container>

    <ng-container matColumnDef="tue5">
      <th mat-header-cell *matHeaderCellDef>T</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{'validday' : !!row.tue5}">{{row.tue5}}</td>
    </ng-container>

    <ng-container matColumnDef="wed5">
      <th mat-header-cell *matHeaderCellDef>W</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{'validday' : !!row.wed5}">{{row.wed5}}</td>
    </ng-container>

    <ng-container matColumnDef="thu5">
      <th mat-header-cell *matHeaderCellDef>T</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{'validday' : !!row.thu5}">{{row.thu5}}</td>
    </ng-container>

    <ng-container matColumnDef="fri5">
      <th mat-header-cell *matHeaderCellDef>F</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{'validday' : !!row.fri5}">{{row.fri5}}</td>
    </ng-container>

    <ng-container matColumnDef="sat5">
      <th mat-header-cell *matHeaderCellDef>S</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{'validday' : !!row.sat5}">{{row.sat5}}</td>
    </ng-container>

    <ng-container matColumnDef="sun6">
      <th mat-header-cell *matHeaderCellDef>S</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{'validday' : !!row.sun6}">{{row.sun6}}</td>
    </ng-container>

    <ng-container matColumnDef="mon6">
      <th mat-header-cell *matHeaderCellDef>M</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{'validday' : !!row.mon6}">{{row.mon6}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>